.position-fixed{
    position: fixed;
}
.addImageProduct{
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
}

.image-frame{
    width: 100px;
    height: 100px;
}


